footer {
  background-color: var(--gray-100);
  display: flex;
  flex-direction: column;
  padding: 4rem;
  align-items: center;

  .wpp {
    width: 2rem;
  }
}

.containerTextFooter {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: rem;
  gap: 0.5rem;

  .pfooter {
    color: var(--color-green);
    margin-top: 2rem;
  }
}

#footerbtn {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  align-items: center;
}

.btn2 {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  font-size: 1rem;
  border: solid 1px var(--gray-500);

  background-color: transparent;
  box-shadow: 10px 5px 5px black;
  color: var(--gray-500);
  font-family: "Maven Pro", sans-serif;

  padding: 1rem 1rem;
  border-radius: 0.3rem;

  width: 20rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}

.btn2:hover {
  border: 1px solid var(--color-green);
  transition: 0.5s;
}

@media (max-width: 600px) {
  .btn2 {
    width: 20rem;

    .imageFooter {
      display: flex;
      margin-left: 10rem;
    }
  }
}
