* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-blue: #3996db;
  --color-purple: #bb72e9;
  --color-green: #82bc4f;
  --color-yellow: #eabd5f;

  --gray-100: #0d0e11;
  --gray-200: #16181d;
  --gray-300: #292c34;
  --gray-400: #878ea1;
  --gray-500: #c0c4ce;
  --gray-600: #e2e4e9;
}

body {
  background: url(../img/bg.svg) no-repeat top / contain;
  background-color: var(--gray-200);
  font-family: "Inconsolata", monospace;
}

h1 {
  color: var(--gray-600);
  font-family: "Maven Pro", sans-serif;
  font-size: 3rem;
}
h3,
h2 {
  color: var(--gray-600);
  font-family: "Maven Pro", sans-serif;
  font-size: 1.5rem;
}

h4 {
  color: var(--gray-600);
  font-family: "Maven Pro", sans-serif;
  font-size: 1rem;
}
.containerpj {
  font: 8px;
}
p {
  color: var(--gray-400);
}
span {
  color: var(--color-green);
}
.textp {
  font-family: "Maven Pro", sans-serif;
  color: var(--gray-500);
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: var(--color-green);
  transition: 0.5s;
}

@media (max-width: 600px) {
  body {
    background-image: none;
  }
}
