#containerHeader {
  padding: 2rem;
  .imagemprincipal {
    display: flex;
    justify-content: center;
    margin-top: 7.5rem;

    img {
      border-radius: 50%;
      border: 4px solid var(--color-green);
    }
  }
  .text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3.5rem;
    gap: 1rem;

    .brilho {
      text-shadow: 1px 1px 3.5px var(--gray-400);
    }
  }

  .icons {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 2rem;
    align-items: center;
    margin-bottom: 5.8rem;
    cursor: pointer;

    .icons-bg {
      background-color: var(--gray-300);
      border: 0.1px solid var(--gray-400);
      height: 2.5rem;
      width: 9rem;
      border-radius: 1rem;
      align-items: center;
      display: flex;
      justify-content: center;
      gap: 0.5rem;
    }

    .icons-bg:hover {
      border: 1px solid var(--color-green);
      transition: 0.5s;
    }
    .spanc {
      color: var(--gray-500);
      display: flex;
    }
  }

  .imageflecha {
    display: flex;
    margin: auto;
  }
}

#container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  margin-top: 10rem;

  h3 {
    margin-bottom: 3.5;
  }
}

.projetoscontainer {
  display: flex;
  flex-direction: column;

  gap: 1rem;
  margin-top: 8rem;

  background-color: var(--gray-200);
  max-width: 25rem;

  padding: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  border: 2px solid var(--gray-400);
  box-shadow: 10px 5px 30px black;

  animation: appear 1ms ease;
  animation-timeline: view();
  animation-range: cover 0% cover 25%;

  .img1 {
    border: 0.5px solid var(--color-green);
    border-radius: 0.5rem;
  }

  .img2 {
    border: 0.5px solid var(--gray-400);
    border-radius: 0.5rem;
  }
}
.projetoscontainer:hover {
  border: 2px solid var(--color-green);
  transition: 1s;
}

#main {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.imagesMain {
  width: 100%;
}

@keyframes appear {
  from {
    opacity: 0;
    translate: -100vw 0;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

@media (max-width: 620px) {
  .icons {
    display: flex;
    flex-direction: column;
  }

  #main {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 2rem;

    .projetoscontainer {
      display: flex;
      margin: auto;
      max-width: 95%;
    }
  }

  .text {
    h1 {
      font-size: 2.5rem;
    }
  }
}
