nav {
  position: sticky;
  top: 0;
  background-color: var(--gray-100);
  z-index: 10;
  box-shadow: 1px 2px 20px #ffffff0a;
  height: 3.5rem;
  padding: 1rem 8rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 1.3rem;
  }

  ul {
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    gap: 2rem;
    cursor: pointer;

    li {
      color: #fff;
    }
  }
}

.navegation-style:hover {
  color: var(--color-green);
  transition: 0.5s;
}

@media (max-width: 600px) {
  .navtext {
    display: none;
  }
  nav {
    display: flex;
    justify-content: center;
  }
}
